---
layout: null
---

<!doctype html>
<html class="no-js" lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Notes</title>
<meta name="description" content="Take some notes">

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/apple-touch-icon.png">
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/favicon.ico">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{site.baseurl}}/assets/manifest.json">
<link rel="mask-icon" href="{{site.baseurl}}/assets/safari-pinned-tab.svg" color="#252627">
<meta name="theme-color" content="#252627">
<meta name="msapplication-config" content="{{site.baseurl}}/assets/browserconfig.xml" />

<meta name="viewport" content="width=device-width, initial-scale=1">
{% if site.local %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/notes-critical.min.css">
{% else %}
  <style>
    {% capture include_to_scssify %}
      {% include assets/notes-critical.min.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
{% endif %}

</head>
<body data-touched="false">

<div class="wrap"><main class="main">

<div class="app_wrapper" data-type="notes-wrapper">
  <section class="secondary">
    <h2 class="headline">Categories <button class="add" data-type="add-category-label">Add Category</button></h2>
    <div data-type="add-category-wrapper" class="add_category_wrapper"></div>
    <nav class="category_navs" data-type="category-navs"></nav>
  </section>
  <section data-type="primary" class="primary"><div class="primary_inner">
    <div class="header">
      <div class="banner">
        <div class="show_wrapper">
          <button data-type="show-categories" class="show_categories"><img src="{{site.baseurl}}/assets/note.svg" width="24" height="24" alt="Show Categories"></button>
        </div>
        <div class="headline_wrapper">
          <h1 class="headline" data-type="category-name">General</h1>
        </div>
        <div class="gd_wrapper">
          <button data-type="gdauthorize" style="display: none;">Login to Google Drive</button>
          <!-- button data-type="gddisable">Disable Google Drive</button -->
          <button data-type="gdsync" style="display: none;">Sync Google Drive</button>
        </div>
      </div>
    </div>
    <section class="notes_wrapper" data-type="notes-window">
      <div class="top cms">
        <p>Your notes start here</p>
      </div>
      <div data-type="notes"></div>
    </section>
    <section class="add_note" data-type="add-note-wrapper">
      <p class="gdstatus" data-type="gdstatus">&nbsp;</p>
    </section>
    <div id="tools_wrapper" data-type="tools-wrapper">
      <textarea id="copyr"></textarea>
    </div>
  </div></section>
</div>

</main></div>

{% include templates.html %}

{% if site.local %}
  <script>
    // window.debug = true;
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script>
{% else %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script>
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js" defer></script>
<script>
  if ( typeof Promise === "undefined" || Promise.toString().indexOf("[native code]") === -1 ) {
    document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js" defer></' + 'script>');
  }
</script>

<script src="{{site.baseurl}}/js/Imgur.js" defer></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js" defer></script>
<script src="{{site.baseurl}}/js/ImageClipboard.js" defer></script>
<script src="{{site.baseurl}}/js/Tpl.js" defer></script>
<script src="{{site.baseurl}}/js/jquery.serializeObject.js" defer></script>
<script src="{{site.baseurl}}/js/GoogleDriveAPI.js" defer></script>
<script src="{{site.baseurl}}/js/Thing.js" defer></script>
<script src="{{site.baseurl}}/js/Thing.Note.js" defer></script>
<script src="{{site.baseurl}}/js/Thing.Preference.js" defer></script>
<script src="{{site.baseurl}}/js/Thing.Category.js" defer></script>
<script src="{{site.baseurl}}/js/ThingCollection.js" defer></script>
<script src="{{site.baseurl}}/js/notes.js" defer></script>

<link rel="stylesheet" href="{{site.baseurl}}/assets/notes-secondary.min.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50594814-5', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
