@mixin button-reset() {
  -webkit-appearance: none; // iOS

  border-radius: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  font: inherit;
  padding: 0;
  
  // FireFox
  &::-moz-focus-inner { 
    border: 0;
    padding: 0;
    margin: 0;
  }
}