@import "reset";
@import "mixins";
@import "cms-normalize";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  padding-bottom: 0;
}

textarea,
button {
  font-family: inherit;
}

textarea {
  font-size: 16px;
}

.cms {
  line-height: 1.5;

  @include cms-normalize();
}

.gd {
  height: 50px;

  button {
    display: none;
  }
}

html,
body,
.wrap,
.main,
.app_wrapper,
.secondary,
.primary {
  height: 100%;
}

.app_wrapper {
  display: flex;
}

.secondary {
  flex: none;
  order: 1;
  padding: 10px;
  color: #fff;
  background: #000;

  button {
    @include button-reset();
    cursor: pointer;
    color: inherit;
  }
}

.primary {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;

  .gd {
    flex: none;
    padding: 10px;
    color: #fff;
    background: #000;
  }

  .notes_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px;

    .top {
      flex: 1;
    }

    .notes {
      flex: none;
    }
  }

  .add_edit {
    padding: 10px;
    color: #fff;
    background: #000;
    flex: none;

    textarea {
      max-height: 20vh;
    }
  }
}