<!doctype html>
<html class="no-js" lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Notes - cwmonkey.github.io</title>
<meta name="description" content="Take some notes">

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{site.baseurl}}/assets/manifest.json">
<link rel="mask-icon" href="{{site.baseurl}}/assets/safari-pinned-tab.svg" color="#000000">
<meta name="theme-color" content="#ffffff">

<meta name="viewport" content="width=device-width, initial-scale=1">
{% if site.local %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/notes-critical.min.css">
{% else %}
  <style>
    {% capture include_to_scssify %}
      {% include assets/notes-critical.min.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
{% endif %}

</head>
<body>

<div class="wrap">
  <main class="main">
    {{ content }}
  </main>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50594814-5', 'auto');
  ga('send', 'pageview');
</script>

{% if site.local %}
  <script>
    window.debug = true;
  </script>
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js" defer></script>
<script>
  if ( typeof Promise === "undefined" || Promise.toString().indexOf("[native code]") === -1 ) {
    document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js" defer></' + 'script>');
  }
</script>
<script src="{{site.baseurl}}/assets/GoogleDriveSaver.js" defer></script>
<script src="{{site.baseurl}}/assets/GD.js" defer></script>
<script src="{{site.baseurl}}/assets/Note.js" defer></script>
<script src="{{site.baseurl}}/assets/notes.js" defer></script>
<link rel="stylesheet" href="{{site.baseurl}}/assets/notes-secondary.min.css">

</body>
</html>
